body {
  margin: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}
.orange {
  color: orangered;
}
table {
  max-width: 50%;
  font-size: 24px;
  border: 1px solid #dddddd;

}
td {
  border: 1px solid #dddddd;
  padding: 10px;
}
button {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 10px;
}